/*HEADER*/

#secciones {
    width: 100%;
}
#navbar {
    height: 60px;
}
#main-icon {
    margin-top: 15px;
}

/*BODY*/

/*FOOTER*/
#carouselExampleDark {
margin: 10px;
height: 600px;
}
.carousel-item {
    height: 500px;
}
.card-body {
    color: lightgrey;
}
.card-title {
    color: black;
}
.card-text {
    color: black;
}
/* CUERPO */
.principal {
    height: 600px;
}
